
<ion-content [fullscreen]="true">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-grid>
        <div class="ion-text-center ion-padding">
          <ion-row>
            <ion-col size="3">
              <ion-img src="./assets/logo/codigo-qr.png" alt="logo2" width="100px" height="auto"></ion-img> 
            </ion-col>
            <ion-col size="9">
              <img src="./assets/logo/images.png" alt="logo" width="200px" height="auto">
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
      
  
    </ion-toolbar>
  </ion-header>
  
    <ion-header collapse="condense">
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
  
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title >Inicio de Sesión</ion-card-title>
      </ion-card-header>
      
      <form [formGroup]="ionicForm"  novalidate>
        <div class="ion-padding">
    
          <ion-item>
            <ion-label></ion-label>
            <ion-input [(ngModel)]="correo" placeholder="Correo" formControlName="email" />
            <ion-icon name="mail" class="iconLabel"></ion-icon>
            
          </ion-item>
        
          <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['email'].touched && this.ionicForm.controls?.['email'].invalid">
              <ion-text *ngIf="errorControl.email.errors?.required" class="errorInput" color="danger">¡Ingresa el email!</ion-text>
              <ion-text *ngIf="errorControl.email.errors?.pattern" class="errorInput" color="danger">¡Ingresa un email valido!</ion-text>
          </div>
          <ion-item>
            <ion-label></ion-label>
            <ion-input type="password" placeholder="Contraseña" formControlName="password" class="input" />
            <ion-icon name="lock-closed"></ion-icon>
          </ion-item>
          <div style="padding-top: -26px;padding-bottom: 16px;" *ngIf="this.ionicForm.controls?.['password'].touched && this.ionicForm.controls?.['password'].invalid">
              <ion-text *ngIf="errorControl.password.errors?.required" class="errorInput" color="danger">¡Ingresa tu contraseña!</ion-text>
              <ion-text *ngIf="errorControl.password.errors?.pattern" class="errorInput"  color="danger">La contraseña debe tener al menos un caracter.</ion-text>
          </div>
          <br>  
          <ion-button type="submit" (click)="login()"  color="warning"  expand="block"  >Ingresar <ion-icon name="log-out-outline" slot="end"></ion-icon></ion-button>
<br> <br><br>          
          <div class="forgotpassword">
            <a [routerLink]="['/forgot-password']" style="color: #0766a6">Recuperar contraseña.</a>
          </div>

        </div>
        <div class="signupLink">
          <p class="p">Si aun no tienes acceso <a [routerLink]="['/signup']" style="color: #029ecd">Registrate aquí.</a></p>
        </div>
    
        <br>
      </form>




        <br>    

      
  
  
       
  
      </ion-card>
  
  </ion-content>





