ion-card-title {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  }

.centrar-titulomodal {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ion-img{
    max-width: 200px;
}



.input{
    font-weight: 300;
}

.signupLink{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
    .p{
        font-size: 0.9em;
    }
    a {
        text-decoration: none;
      }
}
.errorInput{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300px;
    font-size: medium;
    padding-top: -16px;
}
.iconLabel {
    font-size: 24px;
    padding-left: 4px;
    padding-top: 12px;
    vertical-align: middle;
}

ion-item {
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #eac402;
    --highlight-height: 0px;
    --highlight-color-valid: #eac402;
    --highlight-color-focused: #eac402;
    --highlight-color-invalid: #eac402;
}


//diseño general 
ion-toolbar {
    --background: #0d4c95;
    --color: white;
    --border-color: #ffc409;
    --border-width: 4px 0;
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }