<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial Asistencia </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h1>14/05/23 Ingles 1</h1>
            <p>Presente</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>15/05/23 Ingles 1</h1>
            <p>Presente</p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let registro of registros"  >
          <ion-label><h4>{{registro.fecha}} {{registro.asignatura}}</h4>
            <p>{{registro.estado}}</p></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>