<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial Asistencia </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-accordion-group>
    <ion-accordion *ngFor="let asig of listaAsignaturas" toggleIcon="caret-down-circle" toggleIconSlot="end">
      <ion-item slot="header" color="light">
        <ion-label>
          <p>{{asig}}</p>
          <h1>{{asig}}</h1>
        </ion-label>
      </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let registro of registros">
            <ng-template [ngIf]="registro.asignatura == asig">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>
                      <h3>{{registro.fecha}}</h3>
                    </ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-label>
                      <h3> {{registro.estado}}</h3>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-list>
        </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>